<%- include ("./_header.ejs"); %>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">Map</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            <% if(!isAuthenticated) { %>
            <li><a href="/login">Log In</a></li>
            <% } else { %>
            <li><a href="/logout">Log Out</a></li>
            <% } %>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <% if(isAuthenticated) { %>
        <p>Latitude: <%= latitude %></p>
        <p>Longitude: <%= longitude %></p>
        <p>E-mail: <%= email %></p>
        <p>Firstname: <%= firstname %></p>
        <p>Surname:<%= surname %></p>  
        <% } else { %>  
        <h1>Hello</h1>
        <% } %>    
    </div>

    <div id="map"></div>

    <% var lat1 = latitude; %>
    <% var long1 = longitude; %>
    <% var lat2 = latitude2; %>
    <% var long2 = longitude2; %>
    <% var lat3 = latitude3; %>
    <% var long3 = longitude3; %>
    <% var lat4 = latitude4; %>
    <% var long4 = longitude4; %>
    <% var lat5 = latitude5; %>
    <% var long5 = longitude5; %>

    

    <% if(isAuthenticated) { %>
    <script>
        var mymap = L.map('map').setView([0, 0], 1);
        mymap.invalidateSize();

        var lat1 = <%= lat1 %>;
        var long1 = <%= long1 %>;
        var lat2 = <%= lat2 %>;
        var long2 = <%= long2 %>;
        var lat3 = <%= lat3 %>;
        var long3 = <%= long3 %>;
        var lat4 = <%= lat4 %>;
        var long4 = <%= long4 %>;
        var lat5 = <%= lat5 %>;
        var long5 = <%= long5 %>;

        var tt1 = lat1;
        var tg1 = long1;
        var tt2 = lat2;
        var tg2 = long2;
        var tt3 = lat3;
        var tg3 = long3;
        var tt4 = lat4;
        var tg4 = long4;
        var tt5 = lat5;
        var tg5 = long5;

        if(lat1 == lat2 && long1 == long2){
            tt2 = tt2 + 0.001;
            tg2 = tg2 + 0.001;
        }
        if(lat1 == lat3 && long1 == long3){
            tt3 = tt3 + 0.001;
            tg3 = tg3 - 0.001;
        }
        if(lat1 == lat4 && long1 == long4){
            tt4 = tt4 - 0.001;
            tg4 = tg4 - 0.001;
        }
        if(lat1 == lat5 && long1 == long5){
            tt5 = tt5 - 0.001;
            tg5 = tg5 + 0.001;
        }

        var u1 = '<%- JSON.stringify(u1) %>';
        var user1 = JSON.parse(u1);
        var login1 = user1['lastLogin'];
        var firstname1 = user1['firstname'];
        var surname1 = user1['surname'];
        var email1 = user1['email'];

        var u2 = '<%- JSON.stringify(u2) %>';
        var user2 = JSON.parse(u2);
        var login2 = user2['lastLogin'];
        var firstname2 = user2['firstname'];
        var surname2 = user2['surname'];
        var email2 = user2['email'];

        var u3 = '<%- JSON.stringify(u3) %>';
        var user3 = JSON.parse(u3);
        var login3 = user3['lastLogin'];
        var firstname3 = user3['firstname'];
        var surname3 = user3['surname'];
        var email3 = user3['email'];

        var u4 = '<%- JSON.stringify(u4) %>';
        var user4 = JSON.parse(u4);
        var login4 = user4['lastLogin'];
        var firstname4 = user4['firstname'];
        var surname4 = user4['surname'];
        var email4 = user4['email'];

        var u5 = '<%- JSON.stringify(u5) %>';
        var user5 = JSON.parse(u5);
        var login5 = user5['lastLogin'];
        var firstname5 = user5['firstname'];
        var surname5 = user5['surname'];
        var email5 = user5['email'];   

        var marker1 = L.marker([tt1, tg1]).addTo(mymap);
        var marker2 = L.marker([tt2, tg2]).addTo(mymap);
        var marker3 = L.marker([tt3, tg3]).addTo(mymap);
        var marker4 = L.marker([tt4, tg4]).addTo(mymap);
        var marker5 = L.marker([tt5, tg5]).addTo(mymap);

        marker1.bindPopup("you<br>lat: "+String(lat1)+"<br>long: "+String(long1)+"<br>"+login1+"<br>"+firstname1+" "+surname1+"<br>"+email1);
        marker2.bindPopup("user2<br>lat: "+String(lat2)+"<br>long: "+String(long2)+"<br>"+login2+"<br>"+firstname2+" "+surname2+"<br>"+email2);
        marker3.bindPopup("user3<br>lat: "+String(lat3)+"<br>long: "+String(long3)+"<br>"+login3+"<br>"+firstname3+" "+surname3+"<br>"+email3);
        marker4.bindPopup("user4<br>lat: "+String(lat4)+"<br>long: "+String(long4)+"<br>"+login4+"<br>"+firstname4+" "+surname4+"<br>"+email4);
        marker5.bindPopup("user5<br>lat: "+String(lat5)+"<br>long: "+String(long5)+"<br>"+login5+"<br>"+firstname5+" "+surname5+"<br>"+email5);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoic3Rld2JsZWFjaCIsImEiOiJja3ZsaGd3d2sxNjVxMnV0a2JnNGV1M3dhIn0.jifIUbNPDrboE08nH2jmIA'
                }).addTo(mymap);
    </script>
    <% } %>

<%- include ("./_footer.ejs"); %>